.DS_Store
*/.DS_Store
*/*/.DS_Store
cinema_jnc/pngviewer/data/nyx_slice.cdb/*
cinema_jnc/pngviewer/data/nyx_slice.cdb
cinema_jnc/pngviewer/.ipynb_checkpoints/cinema_tutorial-checkpoint.ipynb
cinema_jnc/pngviewer/cinema_tutorial.ipynb
