.DS_Store
*/.DS_Store
*/*/.DS_Store
/Users/tlturton/githubRepos/cinema_tutorial_2020-SC/cinema_jnc/pngviewer/data/nyx_slice.cdb/*
/Users/tlturton/githubRepos/cinema_tutorial_2020-SC/cinema_jnc/pngviewer/data/nyx_slice.cdb
